<script src="/assets/js/index.js"></script>

<h1>burgers</h1>
<ul>
{{#each burgers}}
	<li>
		id: {{id}} <br>
		name: {{name}} <br>
		eaten: {{eaten}} <br><br>
	</li>
{{/each}}
</ul>

<br><br>

<form id="addBurger">
	<div class="form-group">
		<input type="text" class="form-control" id="burgerInput" placeholder="hamburger" aria-discribedby="burgerHelp" autocomplete="off">	
		<small id="burgerHelp" class="form-text text-muted">Enter the name of your burger</small>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>